
# Flask for API
Flask==2.1.1

# Data manipulation and analysis
pandas==1.3.3
numpy==1.21.2

# Machine Learning
scikit-learn==1.0
mlflow==1.21.0
joblib==1.0.1

# Deep Learning
tensorflow==2.8.0

# Image processing
Pillow==8.4.0

# Workflow orchestration
apache-airflow==2.3.4

# Kubernetes interaction
kubernetes==23.3.0

# Testing
pytest==7.1.2
requests==2.27.1

# Other utilities
gunicorn==20.1.0
